<!-- HTML Structure -->

<div class="copyright">
  <footer>
    <p>
      Copyright © Prosperity. Made wtih <i class="fas fa-heart"></i> by Prosper,
      Check out my
      <a href="https://github.com/Prisoe">Github</a>
    </p>
  </footer>
</div>


<!-- Java script structure, couldn't implementthe script file from the public/javascript folder -->
<script>
  var tablinks = document.getElementsByClassName("tab-links");
  var tabcontents = document.getElementsByClassName("tab-contents");

  function opentab(tabname) {
    for (tablink of tablinks) {
      tablink.classList.remove("active-link");
    }
    for (tabcontent of tabcontents) {
      tabcontent.classList.remove("active-tab");
    }
    event.currentTarget.classList.add("active-link");
    document.getElementById(tabname).classList.add("active-tab");
  }
</script>

<script>
  var sidemeu = document.getElementById("sidemenu");

  function openmenu() {
    sidemeu.style.right = "0";
  }
  function closemenu() {
    sidemeu.style.right = "-200px";
  }
</script>
<script>
  const scriptURL =
    "https://api.sheety.co/f657a365731d9743b193f0e6f062b233/websiteSheet/sheet1";
  const form = document.forms["submit-to-google-sheet"];
  const msg = document.getElementById("msg");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    fetch(scriptURL, { method: "POST", body: new FormData(form) })
      .then((response) => {
        msg.innerHTML = "Message sent successfully";
        setTimeout(function () {
          msg.innerHTML = "";
        }, 5000);
        form.reset();
      })
      .catch((error) => console.error("Error!", error.message));
  });
</script>
