<!-- /* 
* File: index.ejs
* Student: Prosper Alabi
* Student ID: 300833841
* Date: June 02,2023
*/ -->


<!-- HTML Structure -->


<!-- Header -->
<%- include('partials/header') %>

  <body>
    <div id="header">
      <div class="container">
        <%- include('partials/head') %>
        <div class="header-text">
          <p>Machine Learning Engineer</p>
          <h1>Hi, I'm <span>Prosper</span><br />Alabi from Canada</h1>
        </div>
      </div>
      
  </body>


  <!-- footer -->
 <%- include('partials/footer') %>

</html>
