<!-- header -->

<%- include('partials/header') %> <%- include('partials/head') %>

<!-- header ends -->

<!-- ----------projects------------ -->

<div id="portfolio">
  <div class="container">
    <h1 class="sub-title">My Work</h1>
    <div class="work-list">
      <div class="work">
        <img src="images/work-1.png" />
        <div class="layer">
          <h3>Stocks Trading App</h3>
          <p>
            The app lets you bauy and sell stocks at live prices using IEX API
            for data calls. The App can also be used to monitor stocks news and
            many more details.
          </p>
          <a href="#"><i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>
      <div class="work">
        <img src="images/work-2.png" />
        <div class="layer">
          <h3>Automation App</h3>
          <p>
            Using Selenium and Beautiful Soup, I created an automation app used
            to Apply for jobs on Linkedin and Indeed. Used the App to log into
            Social Media Apps like Instagram and Twitter to make posts and add
            followers or follow people.
          </p>
          <a href="#"><i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>
      <div class="work">
        <img src="images/work-3.png" />
        <div class="layer">
          <h3>Software Salary Prediction App</h3>
          <p>
            Creeated a Machine laearing model used to predict Software Salaries
            from around the world based on criteria like years spent in school
            or experience in the field. Used different open source predictive
            models to finalize my model and reduce the error margin.
          </p>
          <a href="#"><i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>

      <!-- footer -->
    </div>
  </div>
</div>
<%- include('partials/footer') %>
