<!-- -----------services page---------- -->


<!-- Partials -->
<%- include('partials/header') %>

<%- include('partials/head') %>

  <!-- ---------services---------------- -->
  <div id="services">
    <div class="container">
      <h1 class="sub-title">My Services</h1>
      <div class="services-list">
        <div>
          <i class="fas fa-code"></i>
          <h2>Web Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla
            nibh, tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <i class="fas fa-crop-alt"></i>
          <h2>Data Analysis and Machine Learning</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla
            nibh, tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <i class="fab fa-app-store"></i>
          <h2>BlockChain Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla
            nibh, tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- footer -->
  <%- include('partials/footer') %>
</html>
